javanotebook/target/
javanotebook/pom.xml.tag
javanotebook/pom.xml.releaseBackup
javanotebook/pom.xml.versionsBackup
javanotebook/pom.xml.next
javanotebook/release.properties
javanotebook/dependency-reduced-pom.xml
javanotebook/buildNumber.properties
javanotebook/.mvn/timing.properties
javanotebook/.mvn/wrapper/maven-wrapper.jar
javanotebook/.settings/*

.vscode
.DS_Store

javanotebook-front/node_modules


# testing
javanotebook-front/coverage

# production
javanotebook-front/build

# misc
javanotebook-front/.env.local
javanotebook-front/.env.development.local
javanotebook-front/.env.test.local
javanotebook-front/.env.production.local

javanotebook-front/npm-debug.log*
javanotebook-front/yarn-debug.log*
javanotebook-front/yarn-error.log*
